<!DOCTYPE html>
{% extends "base.html" %} 
{% block contenido %}
{% load jsonify %}

  <div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Medición del día</h1>
    <p class="mb-4">
      En esta sección se mostraran de forma grafica las mediciones tomadas
      durante el transcurso del día en el invernadero.
    </p>

    <!-- Content Row -->
    <div class="row">
      <div class="col-xl-8 col-lg-7">
        <!-- Area Chart -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Grafica Temperatura ambiente, Humedad Ambiente y Humedad Suelo</h6>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="myAreaChart"></canvas>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var humedades = {{ humedades }};
    var temperaturas = {{ temperaturas }};
    var ambientes = {{ ambientes }};
    var horas = JSON.parse({{ horas|jsonify  }});
    console.log(horas);
    //var horas = horas.map(String);
  </script>
{% endblock %}
