<!DOCTYPE html>
{% extends "base.html" %}
{% block contenido %}
  <h1>Reporte por día</h1>
  <form method="POST">{% csrf_token %}
  <div>
    <label for="fecha_consulta">Fecha a consultar:</label>
    <input type="date" id="fecha_consulta" name="fecha_consulta" value="{{ fecha }}">
  </div>
  <button type="submit" class="btn btn-primary">Consultar</button>
</form>
<br>
<br>
<table class="table table-striped" id="dataTable"> 
  
    <tr>
        <th>Fecha de Medición </th>
        <th>Humedad Ambiente</th>
        <th>Temperatura Ambiente</th>
        <th>Humedad Suelo</th>
    </tr>
    {% for medicion in val_mediciones %}
      <tr>
        <td>{{medicion.fecha_creacion}}</td>
        <td>{{medicion.hum_ambiente}}</td>
        <td>{{medicion.tem_ambiente}}</td>
        <td>{{medicion.hum_suelo}}</td>
      </tr>
    {% endfor%}
</table>
{% endblock %}